{% extends 'base.html' %}

{% block titulo %}
{{ paciente.nome }} : Nutrir Melhor
{% endblock %}

{% block conteudo %}

<div class="w-full max-w-[1500px] mx-auto px-4 sm:px-6 lg:px-8 py-7" data-aba-inicial="{{ aba_inicial }}">

    {% include 'pacientes/prontuario/_cabecalho.html' %}

    {% include 'pacientes/prontuario/_abas.html' %}

    {% include 'pacientes/prontuario/_dados_gerais.html' %}

    {% include 'pacientes/prontuario/_avaliacao_fisica.html' %}

    {% include 'pacientes/prontuario/_dietas.html' %}

    {% include 'pacientes/prontuario/_anamnese.html' %}

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/prontuario.js') }}"></script>
{% endblock %}